# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic / temporary files
node_modules
dist
dist-ssr
*.local
dist.zip

# SQLite Database files (generated at runtime)
*.sqlite
*.sqlite-shm
*.sqlite-wal
*.db

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.*
!.env.example
